h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    text-align: center;

}
p{
    
   color: rgb(214, 18, 34);
    font-size: 30px;
}
h2{
    background-color: violet;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

body{
    background-color: rgb(168, 202, 43);
}